.container {
  @apply mt-[3rem] mb-[7rem] px-wrapper-side-mobile 
  tab:px-wrapper-side-tab
  tab-lg:mb-[10rem]
  lap:px-0;
}

.subContainer {
  @apply mt-2 mb-8 flex flex-wrap;
}

.divider {
  @apply mx-2;
}

.keywords {
  @apply flex;
}

.comma {
  @apply pr-1;
}

.year {
  @apply pl-1;
}

.descriptionContainer {
  @apply bg-white border border-black rounded-descriptionContainer p-6;
}

.description {
  @apply mb-8;
}

.description:last-child {
  @apply mb-0;
}