.container {
  @apply mt-[3rem] mb-[7rem] px-wrapper-side-mobile 
  tab:px-wrapper-side-tab
  tab-lg:mb-[10rem]
  lap:px-0;
}

.titleWrapper {
  @apply tab:flex tab:justify-between tab:mb-4 tab:gap-4;
}

.subContainer {
  @apply mt-2 mb-3;
}

.subTextContainer {
  @apply flex mb-1;
}

.subTextTitle {
  @apply text-pink text-sm font-normal mr-2 w-[100px] min-w-[100px];
}

.detailsLink {
  @apply text-pink font-normal hover:underline block mb-4 text-sm
  tab:mb-0 tab:text-lg;
}

.descriptionContainer {
  @apply bg-white border border-black rounded-descriptionContainer p-6;
}

.description {
  @apply mb-8;
}

.description:last-child {
  @apply mb-0;
}