.main {
  @apply mx-auto bg-lightpink
  tab:max-w-[1024px]
  lap:max-w-none lap:overflow-hidden lap:h-screen 
  desk-lg:max-w-constraint;
}

/* ---- CONTENT ---- */

.wrapper {
  @apply flex flex-col items-center px-wrapper-side-mobile py-16 h-full max-w-[1024px] mx-auto
  tab:px-wrapper-side-tab
  lap:max-w-max lap:py-0 lap:px-wrapper-side-lap lap:flex-row lap:justify-center lap:items-center;
}

/* ---- LEFT IMAGE COL ---- */

.profileContainer {
  @apply flex-1 w-full max-w-[700px] relative
  lap:w-profileImg-lap lap:flex lap:justify-center lap:items-center;
}

.profileImg {
  @apply w-full lap:max-w-[500px];
}

.navContainer {
  @apply sticky top-0 z-30 w-full -order-1 px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  lap:px-0 lap:mx-[2rem] lap:static lap:order-none lap:flex lap:justify-center lap:items-start lap:max-w-[100px];
}

.navContainer.mobile {
  @apply lap:hidden;
}

.navContainer.laptop {
  @apply hidden lap:block;
}

/* ---- RIGHT TEXT COL ---- */
.textWrapper {
  @apply lap:relative lap:w-aboutTextWrapper-lap;
}

/* ---- CTA ---- */
.cvCtaContainer {
  @apply hidden
  lap:flex lap:absolute lap:-bottom-[45px] lap:right-[1rem] lap:justify-center lap:items-center;
}

.cvCtaContainer.mobile {
  @apply flex absolute -bottom-14 right-0 justify-center items-center
  lap:hidden;
}

.cvCtaText {
  @apply absolute text-white font-medium text-[1.5rem];
}

.cvCtaBackground {
  @apply fill-pink;
}

.cvCtaContainer:hover .cvCtaText {
  @apply text-pink;
}

.cvCtaContainer:hover .cvCtaBackground {
  @apply fill-white stroke-pink stroke-[1.5px];
}

.emailCtaContainer, .igCtaContainer, .linkedinCtaContainer {
  @apply hidden
  lap:block lap:w-fit lap:absolute;
}

.emailCtaContainer {
  @apply lap:left-[2rem] lap:bottom-[-3.5rem];
}

.emailCtaContainer.mobile {
  @apply block w-fit absolute -top-14 left-0
  lap:hidden;
}

.igCtaContainer {
  @apply tab:left-[15rem]
  lap:top-0
  desk-lg:left-[20rem];
}

.igCtaContainer.mobile {
  @apply block w-fit absolute -top-14 right-[30px]
  lap:hidden;
}

.linkedinCtaContainer {
  @apply lap:left-[1rem] lap:-top-[1rem];
}

.linkedinCtaContainer.mobile {
  @apply block w-fit absolute -bottom-[2rem] left-[1rem]
  lap:hidden;
}

.emailCta, .cta, .linkedinCta {
  @apply relative w-fit;
}

.emailCtaBackground {
  @apply w-[85px] -rotate-3
  tab:w-[120px];
}

.igCtaBackground {
  @apply w-[85px] rotate-3
  tab:w-[120px];
}

.linkedinCtaBackground {
  @apply w-[85px] rotate-3
  tab:w-[120px];
}

.emailCtaLink, .igCtaLink, .linkedinCtaLink {
  @apply absolute top-0 bottom-0 h-[35px] text-center text-pink font-medium bg-white px-3 py-1 rounded-3xl border-pink border-[1.5px]
  hover:bg-pink hover:text-white;
}

.emailCtaLink {
  @apply left-0 right-0 mx-auto text-sm w-[70px] h-[30px] top-7 rotate-6
  tab:text-lg tab:w-[90px] tab:h-[35px] tab:top-10;
}

.igCtaLink {
  @apply -left-[5px] right-0 mx-auto top-7 -rotate-12 text-sm w-[100px] h-[30px]
  tab:text-lg tab:left-0 tab:top-10 tab:w-[120px] tab:h-[35px];
}

.linkedinCtaLink {
  @apply left-0 right-0 mx-auto text-sm w-[90px] h-[30px] top-7 rotate-12
  tab:text-lg tab:w-[110px] tab:h-[35px] tab:top-[2.8rem];
}

.emailSpan, .igSpan {
  @apply underline text-sm leading-4;
}

.emailSpan {
  @apply absolute text-xs -top-[13px] right-[-38px]
  tab:text-sm tab:top-0 tab:right-[-55px]
  lap:top-[60px] lap:-right-[65px];
}

.igSpan {
  @apply absolute -top-[15px] right-[-30px] text-xs
  tab:text-sm tab:top-[3px] tab:right-[-70px];
}

/* ---- TEXT CONTAINER ---- */

.textContainer {
  @apply bg-white border border-black rounded-descriptionContainer px-8 py-8 mt-[2rem]
  lap:px-10 lap:py-16 lap:mt-[4rem] lap:overflow-scroll lap:max-h-aboutTextContainer;
}

.textList {
  @apply mb-6;
}

.textContainer::-webkit-scrollbar {
  @apply hidden;
}

.subHeading {
  @apply uppercase font-semibold mt-14 mb-8 ;
}

.textDuration {
  @apply text-[0.8rem];
}

.textSpan {
  @apply font-light;
}

.textBold {
  @apply font-normal;
}