.main {
  @apply mx-auto bg-lightpink
  lap:pt-workNav-height
  desk-lg:max-w-constraint;
}

.mobileWrapper {
  @apply relative 
  lap:hidden;
}

.mobileArticlesContainer {
  @apply px-wrapper-side-mobile 
  tab:px-wrapper-side-tab
  lap:px-0;
}

.wrapper {
  @apply hidden
  lap:flex;
}

.imgsContainer {
  @apply
  lap:px-10 lap:flex-1;
}

.navContainer {
  @apply sticky top-0 z-30 w-full -order-1 px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  lap:px-0 lap:mx-[2rem] lap:static lap:order-none lap:flex lap:justify-center lap:items-start lap:max-w-[100px];
}

.descriptionsContainer {
  @apply lap:overflow-hidden;
}