.main {
  @apply tab-lg:pt-[7rem];
}

.mobileWrapper {
  @apply relative tab-lg:hidden;
}

.mobileArticlesContainer {
  @apply px-wrapper-side-mobile 
  tab:px-wrapper-side-tab
  tab-lg:px-0;
}

.wrapper {
  @apply hidden
  tab-lg:flex;
}

.imgsContainer {
  @apply
  tab-lg:px-10;
}

.navContainer {
  @apply sticky top-0 z-10 w-full -order-1 px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  tab-lg:px-0 tab-lg:static tab-lg:order-none;
}

.descriptionsContainer {
  @apply tab-lg:px-10;
}