.wrapper { 
  @apply relative flex flex-col px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  lap:px-0 lap:mb-0 lap:min-w-articleImg lap:min-h-articleWrapper;
}

/* ---- DETAIL CTA ---- */

.detailCta {
  @apply z-10 absolute top-[20px] right-[25px] hover:top-[18px] hover:right-[23px] ease-in-out transition-all
  tab:right-[40px] tab:top-[5px] tab:hover:right-[38px] tab:hover:top-[3px]
  lap:hidden;
}

.cta {
  @apply h-auto
  tab:w-[80px]
  lap:hidden;
}

/* ---- INDICATORS ---- */

.indicatorsContainer {
  @apply w-full flex justify-between items-center px-2 py-4;
}

.dotsContainer {
  @apply flex justify-center items-center;
}

.dots {
  @apply px-[0.2rem] w-[0.8rem] h-[0.8rem]
  tab-lg:w-[1rem] tab-lg:h-[1rem];
}

/* ---- CAROUSEL ---- */
.carousel {
  @apply order-2 relative flex justify-start transition-all duration-500 ease-in-out
  lap:-order-none;
}
.carousel:hover .arrowBtnLeft,
.carousel:hover .arrowBtnRight {
  @apply opacity-100;
}

.clickLeftContainer {
  @apply absolute w-[50%] left-0 bottom-0 top-0 my-auto
  tab:flex tab:justify-start tab:items-center;
}

.clickRightContainer {
  @apply absolute w-[50%] right-0 bottom-0 top-0 my-auto
  tab:flex tab:justify-end tab:items-center;
}

.imgContainer {
  @apply bg-lightpink h-fit rounded-b-articleImg w-articleImg;
}

.img {
  @apply w-articleImg;
}