.wrapper { 
  @apply relative flex flex-col px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  lap:px-0 lap:mb-0 lap:min-w-articleImg lap:min-h-articleWrapper;
}

/* ---- DETAIL CTA ---- */

.detailCta {
  @apply order-3 lap:hidden mt-4 underline text-pink text-right text-sm
  tab:text-base;
}

.detailCta:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 69, 103, 0.7));
}

/* ---- INDICATORS ---- */

.indicatorsContainer {
  @apply w-full flex justify-between items-center px-2 py-4;
}

.dotsContainer {
  @apply flex justify-center items-center;
}

.dots {
  @apply px-[0.2rem] w-[0.8rem] h-[0.8rem]
  tab-lg:w-[1rem] tab-lg:h-[1rem];
}

.indicatorArrow {
  @apply w-[20px] tab:w-[40px];
}

/* ---- CAROUSEL ---- */
.carousel {
  @apply order-2 relative flex justify-start transition-all duration-500 ease-in-out
  lap:-order-none;
}
.carousel:hover .arrowBtnLeft,
.carousel:hover .arrowBtnRight {
  @apply opacity-100;
}

.clickLeftContainer {
  @apply absolute w-[50%] left-0 bottom-0 top-0 my-auto
  tab:flex tab:justify-start tab:items-center;
}

.clickRightContainer {
  @apply absolute w-[50%] right-0 bottom-0 top-0 my-auto
  tab:flex tab:justify-end tab:items-center;
}

.imgContainer {
  @apply bg-lightpink h-fit rounded-b-articleImg w-articleImg;
}

.img {
  @apply w-articleImg;
}