.wrapper {
  @apply mb-[15rem] 
  lap:flex;
}

.titleContainer {
  @apply lap:w-[400px] min-w-[250px] lap:pr-[2.5rem];
}

.title {
  @apply 
  lap:text-right lap:pb-3;
}

.detailsLink {
  @apply text-pink font-normal underline flex justify-end items-center gap-3;
}

.detailsLink:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 69, 103, 0.7));
}