@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ---- BREAKPOINTS ----- */
  --bp-tab: 600px;
  --bp-tab-lg: 768px;
  --bp-lap: 1024px;
  --bp-desk: 1200px;
  --bp-desk-lg: 1920px;
  /* ---- COLOURS ---- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #ff4566;
  --color-lightpink: #FFF2F2;
  --color-lightgrey: #f3f3f3;
  --color-pink-transparent: rgba(255, 69, 102, 0.7);
  /* ---- GRADIENTS ---- */
  --bg-gradient-workNav-mobile: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 70%);
  --bg-gradient-workNav-mobile-open: linear-gradient(180deg, rgba(248,248,248,0.7) 0%, rgba(248,248,248,1) 25%);
  --bg-gradient-workNav: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
  /* ---- FONT SIZES ---- */
  --fs-h1: 2rem;
  --fs-h1-tab-lg: 2rem;
  --fs-h2: 2rem;
  --fs-h2-tab-lg: 2.5rem;
  --fs-p: 1rem;
  --fs-workNav-link: 1.2rem;
  --fs-workNav-link-mobile: 1.6rem;
  --fs-mainNav-link: 1.2rem;
  --fs-mainNav-link-mobile: 1.4rem;
  /* ---- SPACING ---- */
  --spacing-sideWrapper-mobile: 1rem;
  --spacing-sideWrapper-tab: 1.5rem;
  --spacing-sideWrapper-lap: 3rem;
  /* ---- DIMENSIONS ---- */
  --w-scrollbar: 7px;
  --h-workNav-mobile: 90px;
  --h-workNav: 90px;
  --h-workNav-linkContainer-mobile: calc(100% - var(--h-workNav-mobile));
  --h-aboutPage-lap: calc(100vh - 7rem);
  --max-h-workNav: 100px;
  --max-h-aboutPageTextContainer-lap: calc(100vh - ((7rem * 2) + 4rem));
  --w-mainNav: 130px;
  --min-w-articleImg: calc(300px - 2rem);
  --min-h-articleWrapper: 80vh;
  --min-w-carousel: 35vw;
  --w-articleImg-mobile: calc(100vw - ((var(--spacing-sideWrapper-mobile) * 2) + var(--w-scrollbar)));
  --w-articleImg-tab: calc(100vw - ((var(--spacing-sideWrapper-tab) * 2) + var(--w-scrollbar)));
  --w-profileImg-lap: calc((100vw - ((100px + 4rem) + 4rem + 4rem)) * 0.45);
  --w-profileImg-desk: calc((100vw - ((100px + 4rem) + 4rem + 4rem)) * 0.35);
  --w-aboutPageTextWrapper-lap: calc((100vw - ((100px + 4rem) + 4rem + 4rem)) * 0.55);
  --w-aboutPageTextWrapper-desk: calc((100vw - ((100px + 4rem) + 4rem + 4rem)) * 0.65);
  /* ---- BORDER RADIUS ----- */
  --b-radius-articleImg: 29px;
  --b-radius-descriptionContainer: 22px;
}

body {
  font-family: var(--font-clashDisplay);
  color: var(--color-black);
  line-height: 1.4;
}

.globalSideWrapper {
  @apply px-wrapper-side-mobile
  tab:px-wrapper-side-tab
  lap:px-wrapper-side-lap;
}

/*  ---- SCROLLBAR ----  */

::-webkit-scrollbar {
  width: var(--w-scrollbar);
}

::-webkit-scrollbar-track {
  background: var(--color-lightgrey);
}

::-webkit-scrollbar-thumb {
  background: var(--color-pink);
}

/*  ---- TYPOGRAPHY ----  */

h1 {
  font-family: var(--font-sansita);
  font-style: italic;
  font-weight: 700;
  font-size: var(--fs-h1);
  line-height: 1;
  letter-spacing: 3px;
}

h2 {
  font-weight: 500;
  font-size: var(--fs-h2);
}

p {
  font-weight: 300;
  font-size: var(--fs-p);
}

@media screen and (min-width: var(--bp-tab-lg)){
  h1 {
    font-size: var(--fs-h1-tab-lg);
    letter-spacing: 2px;
  }

  h2 {
    font-size: var(--fs-h2-tab-lg);
  }
}