@tailwind base;
@tailwind components;
@tailwind utilities;

/*  ---- GLOBAL ----  */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #ff4566;
  --color-lightpink: #FFF2F2;
  --color-lightgrey: #f3f3f3;

  --bg-gradient-workNav-mobile: linear-gradient(180deg, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 70%);
  --bg-gradient-workNav-mobile-open: linear-gradient(180deg, rgba(248,248,248,0.7) 0%, rgba(248,248,248,1) 25%);
  --bg-gradient-workNav: linear-gradient(180deg, #F8F8F8 50%, rgba(248, 248, 248, 0.00) 100%);
  
  --fs-h1: 2rem;
  --fs-h2: 1.3rem;
  --fs-p: 1rem;
  --fs-workNav-link: 1.2rem;
  --fs-workNav-link-mobile: 1.6rem;
  --fs-workNav-comma: 1.6rem;

  --h-workNav-mobile: 90px;
  --h-workNav: 90px;
  --h-workNav-linkContainer-mobile: calc(100% - var(--h-workNav-mobile));
  --max-h-workNav: 100px;

  --w-mainNav: 130px;

  --min-w-articleImg: calc(300px - 2rem);

  --min-h-articleWrapper: 80vh;

  --min-w-carousel: 300px;

  --b-radius-articleImg: 29px;
}

body {
  font-family: var(--font-clashDisplay);
  color: var(--color-black);
  background: var(--color-lightpink);
  line-height: 1.4;
}

.wrapper {
  @apply pt-workNav-height;
}

/*  ---- TYPOGRAPHY ----  */

h1 {
  font-family: var(--font-sansita);
  font-style: italic;
  font-weight: 700;
  font-size: var(--fs-h1);
  line-height: 1;
  letter-spacing: 2px;
}

h2 {
  font-weight: 600;
  font-size: var(--fs-h2);
}

p {
  font-weight: 300;
  font-size: var(--fs-p);
}

