@tailwind base;
@tailwind components;
@tailwind utilities;

/*  ---- GLOBAL ----  */

:root {
  --color-purewhite: #ffffff;
  --color-white: #f8f8f8;
  --color-black: #000000;
  --color-pink: #ff4566;
  --color-lightpink: #ffd8df;

  --bg-gradient-white: linear-gradient(180deg, #F8F8F8 33.33%, rgba(248, 248, 248, 0.00) 100%);
  
  --fs-h1: 2rem;
  --fs-h2: 1.3rem;
  --fs-p: 1rem;
  --fs-headerNav-link: 1.2rem;
  --fs-headerNav-comma: 1.6rem;

  --h-headerNav: 70px;
  --max-h-headerNav: 100px;

  --w-mainNav: 130px;

  --min-w-articleImg: calc(300px - 2rem);

  --min-h-articleWrapper: 80vh;

  --min-w-carousel: 300px;

  --b-radius-articleImg: 29px;
}

body {
  color: var(--color-black);
  background: var(--color-white);
  font-family: var(--font-idGrotesk);
  line-height: 1.5;
}

.wrapper {
  @apply pt-headerNav-height;
}

/*  ---- TYPOGRAPHY ----  */

h1 {
  font-family: var(--font-sansita);
  font-style: italic;
  font-weight: 700;
  font-size: var(--fs-h1);
  line-height: 1;
  letter-spacing: 2px;
}

h2 {
  font-weight: 600;
  font-size: var(--fs-h2);
}

p {
  font-weight: 300;
  font-size: var(--fs-p);
}

