/* ---- MOBILE NAV ---- */

.mobileHeader {
  @apply 
  fixed w-full z-40 bottom-0 bg-gradient-workNav-mobile h-workNav-height-mobile
  lap:hidden;
}

.mobileHeader.open {
  @apply bg-gradient-workNav-mobile-open h-full
  lap:hidden;
}

.mobileArrow {
  @apply absolute bottom-[1rem] left-0 right-0 mx-auto
  lap:hidden;
}

.mobileArrow.open {
  @apply rotate-180
  lap:hidden;
}

.mobileNav {
  @apply px-7 text-center h-workNav-linkContainer-mobile overflow-y-auto
  lap:hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobileNav::-webkit-scrollbar {
  @apply hidden;
}

.mobileLinksContainer {
  @apply pt-[10rem];
}

.mobileLinkContainer {
  @apply mb-8;
}

.mobileLink {
  @apply text-workNav-link-mobile font-light;
}

/* ---- DESK NAV ---- */

.header {
  @apply 
  hidden
  lap:flex lap:fixed lap:w-full lap:z-50 lap:bg-gradient-workNav lap:min-h-workNav lap:py-3 lap:px-4 lap:gap-3;
}

.filterContainer {
  @apply lap:min-w-[250px] lap:flex lap:flex-wrap lap:gap-x-6 lap:h-fit;
}

.filterButton {
  @apply text-pink text-lg hover:underline;
}

.filterButton:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 69, 103, 0.7));
}

.nav {
  @apply hidden
  lap:flex lap:justify-center;
}

.links {
  @apply hidden
  lap:flex lap:flex-wrap lap:justify-end lap:items-center lap:gap-y-1 lap:h-fit
  desk-lg:max-w-constraint;
}

.linkContainer {
  @apply hidden
  lap:text-center lap:leading-tight lap:flex lap:justify-center lap:items-center lap:mr-2 lap:cursor-pointer;
}

.link {
  @apply hidden 
  lap:block lap:relative lap:font-light lap:text-workNav-link lap:mr-2
  lap:hover:line-through lap:hover:decoration-pink lap:hover:decoration-4 lap:min-w-[100px];
}

.star {
  @apply hidden
  lap:block lap:w-[1rem] lap:h-[1rem];
}

.hoverThumbnail {
  @apply absolute top-[2rem] left-0 right-0 mx-auto w-[100px] min-w-[100px] hidden shadow-workNav-hover-thumbnail z-10;
}

.linkContainer:hover .hoverThumbnail {
  @apply block;
}