/* ---- MOBILE NAV ---- */

.mobileHeader {
  @apply 
  fixed w-full z-40 bottom-0 bg-gradient-workNav-mobile h-workNav-height-mobile
  tab-lg:hidden;
}

.mobileHeader.open {
  @apply bg-gradient-workNav-mobile-open h-full
  tab-lg:hidden;
}

.mobileArrow {
  @apply absolute bottom-[1rem] left-0 right-0 mx-auto
  tab-lg:hidden;
}

.mobileArrow.open {
  @apply rotate-180
  tab-lg:hidden;
}

.mobileNav {
  @apply py-12 px-7 text-center h-workNav-linkContainer-mobile overflow-y-auto
  tab-lg:hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobileNav::-webkit-scrollbar {
  @apply hidden;
}

.mobileLinkContainer {
  @apply mb-8;
}

.mobileLink {
  @apply text-workNav-link-mobile font-light;
}

/* ---- DESK NAV ---- */

.header {
  @apply 
  hidden
  tab-lg:block tab-lg:fixed tab-lg:w-full tab-lg:z-50 tab-lg:bg-gradient-workNav tab-lg:min-h-workNav tab-lg:py-3;
}

.nav {
  @apply hidden
  tab-lg:flex tab-lg:justify-center;
}

.links {
  @apply hidden
  tab-lg:flex tab-lg:flex-wrap tab-lg:justify-center tab-lg:items-center tab-lg:gap-y-2
  desk-lg:max-w-constraint;
}

.linkContainer {
  @apply hidden
  tab-lg:text-center tab-lg:leading-tight tab-lg:flex tab-lg:justify-center tab-lg:items-center tab-lg:mr-3;
}

.link {
  @apply hidden 
  tab-lg:block tab-lg:relative tab-lg:font-light tab-lg:text-workNav-link tab-lg:mr-3
  tab-lg:hover:line-through tab-lg:hover:decoration-pink tab-lg:hover:decoration-4;
}

.star {
  @apply hidden
  tab-lg:block tab-lg:w-[1rem] tab-lg:h-[1rem];
}

.hoverThumbnail {
  @apply absolute top-[2rem] left-0 right-0 mx-auto w-[100px] hidden shadow-workNav-hover-thumbnail z-10;
}

.linkContainer:hover .hoverThumbnail {
  @apply block;
}