.main {
  @apply mx-auto bg-lightgrey relative w-screen
  overflow-hidden h-screen
  desk-lg:max-w-constraint;
}

.copyrightWrapper {
  @apply absolute right-[0.5rem] top-[0.5rem] z-50;
}

.copyrightText {
  @apply text-right text-sm;
}

.copyrightLink {
  @apply underline;
}

.linksWrapper {
  @apply absolute z-50 left-[50%] translate-x-[-50%] bottom-[15vh]
  tab:bottom-[17vh];
}

.linksContainer {
  @apply flex;
}

.link {
  @apply my-2 mx-2
  lap:mx-4;
}