.main {
  @apply mx-auto bg-lightpink min-h-screen
  lap:pt-[2rem]
  desk-lg:max-w-constraint;
}

.moveToTop {
  @apply fixed bottom-[2rem] right-[2rem] z-20;
}

.wrapper {
  @apply px-wrapper-side-mobile py-16 h-full
  tab:px-wrapper-side-tab
  lap:py-0 lap:px-wrapper-side-lap lap:pb-[10rem];
}

.section {
  @apply mb-[8rem] mx-auto max-w-[1100px]
  tab:mb-[10rem]
  lap:mb-[15rem];
}

/* back button */
.backButton {
  @apply text-pink font-medium text-sm hover:underline mb-8
  tab:text-base
  lap:mb-10;
}

.backButton:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 69, 103, 0.7));
}


/* title section */
.titleSection {
  @apply mb-[6rem] px-3
  tab:px-8
  lap:px-10;
}

.subContainer {
  @apply mt-4;
}

.subTextContainer {
  @apply flex mb-1 flex-col
  tab:flex-row;
}

.subTextTitle {
  @apply text-pink font-normal mr-2 min-w-[150px];
}

/* details section */

.descriptionWrapper {
  @apply px-3
  tab:px-8
  lap:mb-10 lap:grid lap:grid-cols-12 lap:gap-7;
}

.sectionTitle {
  @apply uppercase font-medium text-base inline-block border border-pink bg-white  rounded-full h-fit w-fit mb-5 px-4 py-1
  lap:col-span-4 lap:text-lg lap:px-6 lap:py-2;
}

.descriptionContainer {
  @apply mb-8 
  lap:col-span-8;
}

.contentContainer {
  @apply flex relative;
}

.control {
  @apply absolute z-20 justify-center items-center flex 
  tab:static;
}

.control button:disabled {
  @apply opacity-30 cursor-not-allowed;
}

.control.prev {
  @apply left-0 top-0 bottom-0 my-auto;
}

.control.next {
  @apply right-0 top-0 bottom-0 my-auto;
}

.prevBtn {
  @apply mr-2
  tab:mr-4;
}

.prevBtn img {
  @apply w-[30px] h-auto
  tab:w-[40px];
}

.nextBtn {
  @apply ml-2
  tab:ml-4;
}

.nextBtn img {
  @apply w-[30px] h-auto
  tab:w-[40px];
}

.carouselWrapper {
  @apply overflow-hidden w-full;
}

.carousel {
  @apply flex w-fit;
  transition: transform 0.5s ease-in-out;
}

.slide {
  @apply min-w-full grid grid-cols-2 grid-rows-2 gap-[0.5rem]
  tab:gap-[0.8rem];
}

.slideImg {
  @apply w-full;
}


