.main {
  @apply mx-auto bg-lightpink min-h-screen
  lap:pt-[2rem]
  desk-lg:max-w-constraint;
}

.moveToTop {
  @apply fixed bottom-[2rem] right-[2rem] z-20;
}

.wrapper {
  @apply py-16
  lap:py-0 lap:pb-[10rem];
}

/* back button */
.backButton {
  @apply text-pink font-medium text-sm hover:underline mb-8 pl-wrapper-side-mobile
  tab:text-base tab:pl-wrapper-side-tab
  lap:mb-10 lap:pl-wrapper-side-lap;
}

.backButton:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 69, 103, 0.7));
}


/* title section */
.titleSection {
  @apply mb-[6rem] px-wrapper-side-mobile mx-auto max-w-[1100px]
  tab:px-wrapper-side-tab
  lap:px-wrapper-side-lap;
}

.subContainer {
  @apply mt-4;
}

.subTextContainer {
  @apply flex mb-1 flex-col
  tab:flex-row;
}

.subTextTitle {
  @apply text-pink font-normal mr-2 min-w-[150px];
}

/* images section */

.imagesSection {
  @apply flex flex-col gap-6;
}

.carouselWrapper {
  @apply overflow-hidden w-full;
}

.carousel {
  @apply flex w-full;
  transition: transform 0.5s ease-in-out;
}

.slide {
  @apply min-w-full;
}

.slideImg {
  @apply w-full;
}



.control {
  @apply absolute z-20 justify-center items-center flex 
  tab:static;
}

.control button:disabled {
  @apply opacity-30 cursor-not-allowed;
}

.control.prev {
  @apply left-0 top-0 bottom-0 my-auto;
}

.control.next {
  @apply right-0 top-0 bottom-0 my-auto;
}

.prevBtn {
  @apply mr-2
  tab:mr-4;
}

.prevBtn img {
  @apply w-[30px] h-auto
  tab:w-[40px];
}

.nextBtn {
  @apply ml-2
  tab:ml-4;
}

.nextBtn img {
  @apply w-[30px] h-auto
  tab:w-[40px];
}


