.link {
  @apply flex items-center 
  tab-lg:mb-1;
}

.checkboxContainer {
  @apply relative;
}

.check {
  @apply absolute -top-1 left-0 hidden;
}

.check.isHome {
  @apply hidden;
}

.linkText {
  @apply text-pink opacity-50 font-sansita font-bold italic text-mainNav-link-mobile pl-1
  lap:text-mainNav-link;
}

.linkText.highlight {
  @apply text-pink opacity-100;
}

.linkText.isHome {
  @apply text-black text-lg pl-2 opacity-100
  tab:text-xl
  lap:text-2xl;
}

.check.highlight {
  @apply block;
}

/* Hover animation for Homepage */
.link:hover .check.isHome {
  @apply block;
}

.link:hover .linkText {
  @apply text-pink;
}