.wrapper { 
  @apply flex justify-between items-center py-[2rem] gap-2
  tab-lg:gap-0 tab-lg:flex-col tab-lg:justify-start tab-lg:w-mainNav-width tab-lg:py-0 tab-lg:mx-0 tab-lg:sticky tab-lg:top-workNav-height; 
}

/* ---- GRIP ---- */
.gripContainer {
  @apply hidden
  tab-lg:flex tab-lg:justify-center tab-lg:items-center tab-lg:w-mainNav-width tab-lg:mb-[2rem];
}

.grip {
  @apply hidden
  tab-lg:block tab-lg:px-[0.5rem] tab-lg:cursor-col-resize;
}

.arrowLeft, .arrowRight {
  @apply opacity-0 transition-all duration-100 ease-in-out;
}

.gripContainer:hover .arrowLeft, .gripContainer:hover .arrowRight {
  @apply opacity-100;
}

/* ---- NAV ---- */
.navContainer {
  @apply tab-lg:mt-[2rem];
}

.link {
  @apply flex items-center;
}

.checkboxContainer {
  @apply relative w-[20px];
}

.check {
  @apply absolute top-[-5px] left-0 z-10 opacity-0;
}

.check.active {
  @apply opacity-100;
}

.linkText {
  @apply font-sansita font-bold italic text-mainNav-link-mobile pl-1
  tab-lg:text-mainNav-link;
}

.linkText.active {
  @apply text-pink;
}
